cmake-build-debug
.DS_Store
.idea/
.DS_Store
a.out
mnist.scale
*/cmake-build-debug
*/.idea/
*/origin/.idea/
*/log*
*/*.txt
*/q2bn
*/logs
*/criteo*
*/mnist*
*/aloi*
*/*.np*
*/*/cmake-build-debug
*/cppobjs
*/runme
bin/*
bin_linux/*